<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.showcase932314" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>showcase</name>
  <description>
        Project showcase is developed to show all features of cordova using the framework ionic with cordova.
    </description>
  <author email="billy124@msn.com" href="http://magmamedia.co.uk">
      Billy Mahmood
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>